# Configurações do Servidor
PORT=3000

# Configurações do Twilio (SMS)
TWILIO_ACCOUNT_SID=seu_account_sid_aqui
TWILIO_AUTH_TOKEN=seu_auth_token_aqui
TWILIO_PHONE_NUMBER=+1234567890

# Configurações do WhatsApp Business API
WHATSAPP_TOKEN=seu_token_whatsapp_aqui
WHATSAPP_PHONE_ID=seu_phone_id_aqui
WHATSAPP_BUSINESS_ACCOUNT_ID=seu_business_account_id_aqui

# Número de telefone para receber notificações
SEU_TELEFONE=+5521970012749

# Configurações do Banco de Dados
DB_PATH=./database/contas.db 